*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content {
  display: flex;
  align-items: flex-end;
  inline-size: 1140px;
  gap: 30px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  block-size: 298px;
  overflow-y: auto;
  overflow-x: hidden;
}

.content__details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 26px;
  min-width: 0;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 7px;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 70px;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  color: #fff;
  text-decoration: none;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  display: block;
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 30px;
  min-width: 0;
  line-height: 1;
}

.content__video-card-description {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 24px;
}

.content__video-card-description-container {
  flex-grow: 1;
  min-width: 0;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.content__card-link:active {
  background-color: #545050;
  text-decoration: none;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
}

.result__video-container,
.content__list-container {
  position: relative;
}

.result__video-container {
  inline-size: 711px;
  block-size: 386px;
  margin-bottom: 16px;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.search-form__textfield {
  appearance: none;
  background-color: transparent;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  font-family: inherit;
  font-size: 18px;
  color: #fff;
  padding: 2px 0;
  inline-size: 225px;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
  cursor: pointer;
  outline: none;
}

.search-form__pseudo-checkbox {
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #fff;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  inline-size: 100%;
  block-size: 100%;
  background-color: #fff;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:has(.search-form__checkbox):hover .search-form__label-text {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.button {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  padding: 6px 0;
  cursor: pointer;
}

.search-form__submit-button {
  align-self: flex-end;
  inline-size: 194px;
}

.more-button {
  inline-size: 100%;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
  text-decoration: none;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__checkbox:focus {
  outline: none;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
